<footer class="py-20">
    <div class="container mx-auto px-4 text-center">

        <ul class="inline-flex flex-col lg:flex-row items-center mx-auto">
            <li class="inline-flex">
                <a class="p-5 text-xl" href="">Contact Us</a>
            </li>
            <li class="inline-flex">
                <a class="p-5 text-xl" href="">QuibbleLite for Small Operators</a>
            </li>
            <li class="inline-flex">
                <a class="p-5 text-xl" href="">Privacy Policy</a>
            </li>
        </ul>
    </div>
</footer>

