{{ define "main" }}
    {{ $heroBanner := resources.Get "images/hero-banner.png" }}
    {{ $header := resources.Get "images/graph.png" }}
    {{ $section := resources.Get "images/section-banner.png" }}
    {{ $headerShadow := resources.Get "images/graph-shadow.png" }}
    {{ $bigArrow := resources.Get "images/big-arrow.png" }}
    {{ $arrow := resources.Get "images/arrow.png" }}
    {{ $arrowSplit := resources.Get "images/arrow-split.png" }}
    {{ $buttonArrow := resources.Get "images/button-arrow.png" }}
    {{ $iconStar := resources.Get "images/icon-star.png" }}
    {{ $iconHeart := resources.Get "images/icon-heart.png" }}
    {{ $iconRain := resources.Get "images/icon-rain.png" }}
    {{ $iconGift := resources.Get "images/icon-gift.png" }}
    {{ $caretActive := resources.Get "images/caret-active.png" }}
    {{ $caretInactive := resources.Get "images/caret-inactive.png" }}
    {{ $logoWhite := resources.Get "images/logo-white.png" }}
    {{ $currentMonth := resources.Get "images/current-month.png" }}
    {{ $futureMonth := resources.Get "images/future-month.png" }}
    {{ $pastMonth := resources.Get "images/past-month.png" }}

    <section class="py-20 bg-bottom bg-cover bg-none lg:bg-hero">

        <div class="container mx-auto px-4 lg:relative">
            <h1 class="text-5xl font-light leading-tight mb-10 lg:w-9/12 xl:w-7/12">The only airline-grade revenue platform for <b class="font-bold">enterprise</b> STR operators</h1>
            <div class="grid lg:grid-cols-12 gap-4">
                <div class="lg:col-span-6">
                    <img class="hidden lg:block lg:absolute lg:bottom-[-80px] lg:right-0 lg:w-96" src="{{ $header.RelPermalink }}" alt="">
                    <p class="font-light leading-normal mb-4">Maximize revenue, drive loyalty, and identify targeted listing + property enhancements, all at the scale of your business.</p>
                    <p class="font-light leading-normal mb-4">Our advanced data-science models enable revenue managers to make probabilistic decisions using <b class="font-semibold">millions of option simulations</b> and hundreds of data points to predict and enhance market share and profitability.</p>
                    <p class="font-light leading-normal mb-10">Quibble for Enterprise is designed around the <b class="font-semibold">mass data aggregation</b> and <b class="font-semibold">workflow needs of large operators</b> like you, not the small guys.</p>
                    <a class="font-quicksand font-semibold text-center block md:inline-block px-6 py-3 bg-violet-500 text-white rounded" href="">Request a demo <img class="inline-block" src="{{ $buttonArrow.RelPermalink }}" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-20 bg-[#FBF9F3] bg-cover bg-top bg-none lg:bg-section">
        <div class="container relative mx-auto px-4">
            <img class="hidden lg:block lg:absolute lg:top-[-80px] lg:right-0 lg:w-96" src="{{ $headerShadow.RelPermalink }}" alt="">
            <h2 class="leading-tight text-5xl mb-10">Grow your STR <br class="hidden lg:block"> <b class="font-medium">gap-over-market</b><br class="block lg:hidden"><img class="inline-block w-28 lg:w-40 lg:-mt-12 lg:-ml-5 lg:-mr-16" src="{{ $bigArrow.RelPermalink }}" alt=""> by <b class="text-7xl font-semibold">18<sup class="-top-[0.25em]">%</sup></b></h2>
            <p class="leading-normal mb-4">PROVEN RESULTS for enterprise STR operators using Quibble:</p>
            <div class="grid grid-cols-12 gap-4 mb-10">
                <div class="lg:col-span-3 sm:col-span-6 col-span-12 p-6 bg-white">
                    <p class="font-quicksand font-semibold text-5xl text-[#1BA6BF]">18<sup class="-top-[0.25em]">%</sup><img class="inline-block" src="{{ $arrow.RelPermalink }}" alt=""></p>
                    <hr class="my-2 border-t-4 border-dotted">
                    <p class="leading-normal">Revenue increase</p>
                </div>
                <div class="lg:col-span-3 sm:col-span-6 col-span-12 p-6 bg-white">
                    <p class="font-quicksand font-semibold text-5xl text-[#1BA6BF]">8<sup class="-top-[0.25em]">%</sup><img class="inline-block" src="{{ $arrow.RelPermalink }}" alt=""></p>
                    <hr class="my-2 border-t-4 border-dotted">
                    <p class="leading-normal">Occupancy increase</p>
                </div>
                <div class="lg:col-span-3 sm:col-span-6 col-span-12 p-6 bg-white">
                    <p class="font-quicksand font-semibold text-5xl text-[#1BA6BF]">1.5<small class="text-2xl">page</small><img class="inline-block" src="{{ $arrow.RelPermalink }}" alt=""></p>
                    <hr class="my-2 border-t-4 border-dotted">
                    <p class="leading-normal">Search rank improvement</p>
                </div>
                <div class="lg:col-span-3 sm:col-span-6 col-span-12 p-6 bg-white">
                    <p class="font-quicksand font-semibold text-5xl text-[#1BA6BF]">9<sup class="-top-[0.25em]">%</sup><img class="inline-block" src="{{ $arrow.RelPermalink }}" alt=""></p>
                    <hr class="my-2 border-t-4 border-dotted">
                    <p class="leading-normal">RevPAR uplift compared to retail-grade pricing software</p>
                </div>
            </div>
            <div class="flex lg:flex-row flex-col gap-4 justify-end items-center">
                <p class="text-center">Quibble for Enterprise offers actionable insights from 100+ customizable data variables</p>
                <a class="font-quicksand font-semibold text-center block lg:inline-block  px-6 py-3 bg-violet-500 text-white rounded" href="">Contact us to see the science <img class="inline-block" src="{{ $buttonArrow.RelPermalink }}" alt=""></a>    
            </div>
        </div>
    </section>
    <section class="py-20">
        <div class="container mx-auto px-4">
            <div class="font-light text-center">
                <h2 class="text-5xl">You’ve seen the <b class="font-semibold">retail-grade pricing tools</b></h2>
                <p class="font-quicksand text-2xl leading-normal mb-4">(But <span class="font-semibold inline-block px-2 py-1 bg-[#F1BD5B] rounded">do they see you</span> and your enterprise needs?)</p>    
            </div>
            <img class="hidden md:block mx-auto -mb-10" src="{{ $arrowSplit.RelPermalink }}" alt="">
            <div class="grid md:grid-cols-12 gap-4 mb-10">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 text-right">
                    <div class="py-3 px-6 bg-[#E8E8E8] rounded-lg">
                        <h3 class="text-2xl"><b class="font-semibold">Retail-grade</b> <br>STR pricing software</h3>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div class="py-3 px-6 bg-[#4DCADA] rounded-lg">
                        <h3 class="text-2xl text-white"><img class="inline-block h-16" src="{{ $logoWhite.RelPermalink }}" alt=""> for enterprise</h3>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 gap-4 mb-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-4 justify-end text-right">
                    <div class="py-2 border-b-[3px] border-dotted  border-b-[#BCBCBC]">
                        <p class="text-lg leading-normal font-light text-[#697273]">Minimal enterprise features</p>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-4">
                    <div class="px-2 py-1 bg-[#F1BD5B] rounded">
                        <h4 class="text-xl font-semibold">Enterprise management</h4>
                    </div>
                    <div class="py-2 border-t-[3px] border-b-[3px] border-dotted  border-t-[#4DCADA] border-b-[#4DCADA]">
                        <p class="text-lg leading-normal"><b class="font-medium">Advanced features</b><br>specially designed for larger operators</p>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 gap-4 mb-10">
                <input type="checkbox" id="minimal-features" class="peer hidden">
                <div class="md:col-span-5 text-right peer-checked:hidden">
                    <div class="hidden md:block">
                        <ul class="flex flex-col gap-4 mb-4">
                            <li>Standard KPIs</li>
                        </ul>
                        <label for="minimal-features" class="text-[#4DCADA] underline">collapse <img class="inline-block"  src="{{ $caretActive.RelPermalink }}"></label>
                    </div>
                </div>
                <div class="md:col-span-5 text-right peer-checked:block hidden">
                    <label for="minimal-features">see details <img class="inline-block" src="{{ $caretInactive.RelPermalink }}" alt=""></label>
                </div>
                <div class="md:col-span-5 md:col-start-8 peer-checked:hidden">
                    <ul class="flex flex-col gap-4 mb-4">
                        <li>Custom KPIs</li>
                        <li>Forecast-vs-budget analysis</li>
                        <li>Owner reports for distribution</li>
                    </ul>
                    <label for="minimal-features" class="peer-checked:hidden text-[#4DCADA] underline">collapse <img class="inline-block"  src="{{ $caretActive.RelPermalink }}"></label>
                </div>
                <div class="md:col-span-5 md:col-start-8 peer-checked:block hidden">
                    <label for="minimal-features">see details <img class="inline-block" src="{{ $caretInactive.RelPermalink }}" alt=""></label>
                </div>
            </div>

            <div class="grid md:grid-cols-12 gap-4 mb-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 justify-end text-right">
                    <div class="py-2 border-b-[3px] border-dotted  border-b-[#BCBCBC]">
                        <p class="text-lg leading-normal font-light text-[#697273]">2–3 basic data points</p>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div class="px-2 py-1 bg-[#F1BD5B] rounded">
                        <h4 class="text-xl font-semibold">Expert-level automated pricing</h4>
                    </div>
                    <div class="py-2 border-t-[3px] border-b-[3px] border-dotted  border-t-[#4DCADA] border-b-[#4DCADA]">
                        <p class="text-lg leading-normal"><b class="font-medium">100+ customizable data points</b><br>and growing</p>
                    </div>
                </div>
            </div>




            <div class="grid md:grid-cols-12 gap-4 mb-10">
                <input type="checkbox" id="data-points" class="peer hidden">
                <div class="md:col-span-5 text-right peer-checked:hidden">
                    <div class="hidden md:block">
                        <ul class="flex flex-col gap-4 mb-4">
                            <li>Pricing</li>
                            <li>Radius location</li>
                            <li>Bedroom count</li>
                        </ul>
                        <label for="data-points" class="text-[#4DCADA] underline">collapse <img class="inline-block"  src="{{ $caretActive.RelPermalink }}"></label>
                    </div>
                </div>
                <div class="md:col-span-5 text-right peer-checked:block hidden">
                    <label for="data-points">see details <img class="inline-block" src="{{ $caretInactive.RelPermalink }}" alt=""></label>
                </div>
                <div class="md:col-span-5 md:col-start-8 peer-checked:hidden">
                    <ul class="flex flex-col gap-4 mb-4">
                        <li>Pricing + ancillary fees</li>
                        <li>Radius location</li>
                        <li>Bedroom count</li>
                        <li>Static property features<br><span class="text-[#697273]">(views, pools, bunk beds)</span></li>
                        <li>Changeable property features<br><span class="text-[#697273]">(jacuzzis, parking)</span></li>
                        <li>Listing features<br><span class="text-[#697273]">(title + description, review counts, days since update)</span></li>
                        <li>Host features<br><span class="text-[#697273]">(host ratings, response rate)</span></li>
                        <li>Photos<br><span class="text-[#697273]">(AI rating)</span></li>
                        <li>Stay length availability</li>
                    </ul>

                    <label for="data-points" class="peer-checked:hidden text-[#4DCADA] underline">collapse <img class="inline-block"  src="{{ $caretActive.RelPermalink }}"></label>
                </div>
                <div class="md:col-span-5 md:col-start-8 peer-checked:block hidden">
                    <label for="data-points">see details <img class="inline-block" src="{{ $caretInactive.RelPermalink }}" alt=""></label>
                </div>
            </div>





            <div class="grid md:grid-cols-12 gap-4 mb-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 justify-end text-right">
                    <div class="py-2 border-b-[3px] border-dotted  border-b-[#BCBCBC]">
                        <p class="text-lg leading-normal font-light text-[#697273]">(not offered)</p>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div class="px-2 py-1 bg-[#F1BD5B] rounded">
                        <h4 class="text-xl font-semibold">Scenario modeling</h4>
                    </div>
                    <div class="py-2 border-t-[3px] border-b-[3px] border-dotted  border-t-[#4DCADA] border-b-[#4DCADA]">
                        <p class="text-lg leading-normal"><b class="font-medium">Hypothetical listing + property enhancement testing</b><br>based on millions of option simulations</p>
                    </div>
                </div>
            </div>






            <div class="grid md:grid-cols-12 gap-4 mb-10">
                <input type="checkbox" id="scenario-modeling" class="peer hidden">
                <div class="md:col-span-5 md:col-start-8 peer-checked:hidden">
                    <ul class="flex flex-col gap-4 mb-4">
                        <li>Price</li>
                        <li>Ancillary fees</li>
                        <li>Bedroom count</li>
                        <li>Property features<br><span class="text-[#697273]">(jacuzzis, parking)</span></li>
                        <li>Listing features<br><span class="text-[#697273]">(title + description, review counts, days since update)</span></li>
                        <li>Host features<br><span class="text-[#697273]">(host ratings, response rate)</span></li>
                        <li>AI photo-analysis ratings</li>
                    </ul>
                    <label for="scenario-modeling" class="peer-checked:hidden text-[#4DCADA] underline">collapse <img class="inline-block"  src="{{ $caretActive.RelPermalink }}"></label>
                </div>
                <div class="md:col-span-5 md:col-start-8 peer-checked:block hidden">
                    <label for="scenario-modeling">see details <img class="inline-block" src="{{ $caretInactive.RelPermalink }}" alt=""></label>
                </div>
            </div>









            <div class="text-center">
                <a class="font-quicksand font-semibold text-center block lg:inline-block px-6 py-3 bg-violet-500 text-white rounded" href="">Reach out to see for yourself <img class="inline-block" src="{{ $buttonArrow.RelPermalink }}" alt=""></a>    
            </div>
        </div>
    </section>
    <section class="py-20 pt-40 pb-[190px] sm:pb-[240px] md:pb[290px] lg:pb-[340px] bg-[#283334] relative ">
        <div class="w-0 h-0 border-l-[50vw] border-l-transparent border-t-[80px] border-t-white border-r-[50vw] border-r-transparent top-[-1px] right-0 absolute"></div>
        <div class="container mx-auto px-4">
            <div class="grid lg:grid-cols-12 gap-4">
                <div class="lg:col-span-3">
                    <div class="bg-white grid grid-cols-[1fr,auto,1fr] lg:grid-cols-1 gap-6 p-6 rounded-lg">
                        <div class="p-4 text-center">
                            <img class="inline-block" src="{{ $iconStar.RelPermalink }}" alt="">
                            <p class="font-quicksand font-semibold text-[#1BA6BF]">STARS</p>
                        </div>
                        <div class="border-[1px]"></div>
                        <div class="p-4 text-center">
                            <img class="inline-block"  src="{{ $iconGift.RelPermalink }}" alt="">
                            <p class="font-quicksand font-semibold text-[#A473ED]">UNDERPRICED</p>
                        </div>
                        <div class="border-[1px]"></div>
                        <div class="lg:hidden"></div>
                        <div class="border-[1px] lg:hidden"></div>
                        <div class="p-4 text-center">
                            <img class="inline-block"  src="{{ $iconHeart.RelPermalink }}" alt="">
                            <p class="font-quicksand font-semibold text-[#D79E34]">OVERPRICED</p>
                        </div>
                        <div class="lg:w-auto border-[1px]"></div>
                        <div class="p-4 text-center">
                            <img class="inline-block"  src="{{ $iconRain.RelPermalink }}" alt="">
                            <p class="font-quicksand font-semibold text-[#697273]">PRODUCT ISSUE</p>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-7 lg:col-start-5">
                    <h1 class="text-4xl font-light leading-tight mb-10 text-white">Quibble’s <span class="font-semibold text-[#F1BD5B]">drill-down dashboards</span> help your CxOs and revenue managers make both <span class="font-semibold text-[#A8E4EB]">strategic decisions</span> and <span class="font-semibold text-[#C0A4EF]">daily tactical moves</span></h1>
                    <h2 class="text-2xl font-light leading-normal mb-10 text-white">Short-Term Rental operator data is intuitively presented in ways to <span class="font-semibold text-[#F1BD5B]">prioritize immediate action</span>, directing your attention from macro concerns to greasy-wheel problems, as needed.</h2>
                    <div class="text-center lg:text-left">
                        <ul class="inline-flex flex-col lg:flex-row items-center">
                            <li class="inline-flex">
                                <div class="text-white text-xl px-6 py-4 rounded border-[1px]">
                                    high-level insights
                                </div>
                            </li>
                            <li class="inline-block p-3">
                                <img class="inline-block rotate-90 lg:rotate-0" src="{{ $buttonArrow.RelPermalink }}" alt="">
                            </li>
                            <li class="inline-flex">
                                <div class="text-white text-xl px-6 py-4 rounded border-[1px]">
                                    regional + city trends
                                </div>
                            </li>
                            <li class="inline-block p-3">
                                <img class="inline-block rotate-90 lg:rotate-0" src="{{ $buttonArrow.RelPermalink }}" alt="">
                            </li>
                            <li class="inline-flex">
                                <div class="text-white text-xl px-6 py-4 rounded border-[1px]">
                                    granular details
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-10">
            <h1 class="text-2xl text-center font-light leading-tight mb-10 text-white"><span class="font-semibold text-[#A8E4EB]">Look back</span> or <span class="font-semibold text-[#F1BD5B]">project out forward</span>,<br>including sandbox scenarios and their effects on portfolio value</h1>
            <p class="font-light text-white text-center mb-10">(*or even limit to a specific geography to model out + drill down)</p>
        </div>
        <div class="carousel -mb-[300px] sm:-mb-[400px] md:-mb[500px] lg:-mb-[600px]" data-flickity='{ "wrapAround": true, "adaptiveHeight": true}'>
            <div class="carousel-cell p-4">
                <p class="text-xl text-white text-center mb-4">current month</p>
                <img class="h-[300px] sm:h-[400px] md:h-[500px] lg:h-[600px]" src="{{ $currentMonth.RelPermalink }}" alt="">
            </div>
            <div class="carousel-cell p-4">
                <p class="text-xl text-white text-center mb-4">future month</p>
                <img class="h-[300px] sm:h-[400px] md:h-[500px] lg:h-[600px]" src="{{ $futureMonth.RelPermalink }}" alt="">
            </div>
            <div class="carousel-cell p-4">
                <p class="text-xl text-white text-center mb-4">past month</p>
                <img class="h-[300px] sm:h-[400px] md:h-[500px] lg:h-[600px]" src="{{ $pastMonth.RelPermalink }}" alt="">
            </div>
        </div>
    </section>
    <section class="py-20 pt-[190px] sm:pt-[240px] md:pt[290px] lg:pt-[340px] ">
        <div class="container mx-auto px-4">
            <div class="grid lg:grid-cols-12 gap-4">
                <div class="lg:col-span-6 lg:col-start-2">
                    <h1 class="text-5xl font-light leading-tight mb-10">Deploy Quibble analytics in one day</h1>
                    <p class="font-light leading-normal mb-4"><span class="font-semibold">Operators using our existing PMS partners</span> (including Guesty, Hostfully, and others) <span class="font-semibold">can get</span> <span class="font-semibold text-[#1BA6BF]">near-instant access</span> to our analytics platform to play around with live data. Otherwise, new PMS integrations take 2–4 weeks.</p>
                    <p class="font-light leading-normal mb-4">Customization, price modeling, quality control, and optional on-site training add only 3–4 weeks and require few operator resources.</p>
                    <p class="font-light leading-normal mb-10"><span class="font-semibold">Ultimately, it typically takes 4–8 weeks</span> to move from agreement to complete platform optimization, guided by a dedicated Quibble account manager.</p>
                    <a class="font-quicksand font-semibold text-center block lg:inline-block px-6 py-3 bg-violet-500 text-white rounded" href="">Ready to talk? <img class="inline-block" src="{{ $buttonArrow.RelPermalink }}" alt=""></a>
                </div>
            </div>
        </div>
    </section>
{{ end }}