{{ define "main" }}
    <section class="py-40">
        <div class="container mx-auto px-4">
            <div class="grid lg:grid-cols-12 gap-4">
                <div class="lg:col-span-6">
                    <h1 class="text-5xl font-light leading-tight mb-10">The only airline-grade revenue platform for <b class="font-bold">enterprise</b> STR operators</h1>
                    <p class="font-light leading-normal mb-4">Maximize revenue, drive loyalty, and identify targeted listing + property enhancements, all at the scale of your business.</p>
                    <p class="font-light leading-normal mb-4">Our advanced data-science models enable revenue managers to make probabilistic decisions using <b class="font-semibold">millions of option simulations</b> and hundreds of data points to predict and enhance market share and profitability.</p>
                    <p class="font-light leading-normal mb-10">Quibble for Enterprise is designed around the <b class="font-semibold">mass data aggregation</b> and <b class="font-semibold">workflow needs of large operators</b> like you, not the small guys.</p>
                    <a class="font-quicksand font-semibold  inline-block px-6 py-3 bg-violet-500 text-white rounded" href="">Request a demo</a>
                </div>
                <div class="lg:col-start-8 lg:col-end-12">
                    {{ $header := resources.Get "images/graph.png" }}
                    <img src="{{ $header.RelPermalink }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="py-40 bg-[#FBF9F3]">
        <div class="container mx-auto px-4">
            <h2 class="leading-tight text-5xl mb-10">Grow your STR <br> <b class="font-medium">gap-over-market</b> by <b class="text-7xl font-semibold">18<sup class="-top-[0.25em]">%</sup></b></h2>
            <p class="leading-normal mb-4">PROVEN RESULTS for enterprise STR operators using Quibble:</p>
            <div class="grid grid-cols-12 gap-4 mb-10">
                <div class="lg:col-span-3 sm:col-span-6 col-span-12 p-6 bg-white">
                    <p class="font-quicksand font-semibold text-5xl text-[#1BA6BF]">18<sup class="-top-[0.25em]">%</sup></p>
                    <hr class="my-2 border-t-4 border-dotted">
                    <p class="leading-normal">Revenue increase</p>
                </div>
                <div class="lg:col-span-3 sm:col-span-6 col-span-12 p-6 bg-white">
                    <p class="font-quicksand font-semibold text-5xl text-[#1BA6BF]">8<sup class="-top-[0.25em]">%</sup></p>
                    <hr class="my-2 border-t-4 border-dotted">
                    <p class="leading-normal">Occupancy increase</p>
                </div>
                <div class="lg:col-span-3 sm:col-span-6 col-span-12 p-6 bg-white">
                    <p class="font-quicksand font-semibold text-5xl text-[#1BA6BF]">1.5<small class="text-2xl">page</small></p>
                    <hr class="my-2 border-t-4 border-dotted">
                    <p class="leading-normal">Search rank improvement</p>
                </div>
                <div class="lg:col-span-3 sm:col-span-6 col-span-12 p-6 bg-white">
                    <p class="font-quicksand font-semibold text-5xl text-[#1BA6BF]">9<sup class="-top-[0.25em]">%</sup></p>
                    <hr class="my-2 border-t-4 border-dotted">
                    <p class="leading-normal">RevPAR uplift compared to retail-grade pricing software</p>
                </div>
            </div>
            <div class="flex lg:flex-row flex-col gap-4 justify-end items-center">
                <p class="text-center">Quibble for Enterprise offers actionable insights from 100+ customizable data variables</p>
                <a class="font-quicksand font-semibold inline-block px-6 py-3 bg-violet-500 text-white rounded" href="">Contact us to see the science</a>    
            </div>

        </div>
    </section>
    <section class="py-40">
        <div class="container mx-auto px-4">
            <div class="font-light text-center">
                <h2 class="text-5xl">You’ve seen the <b class="font-semibold">retail-grade pricing tools</b></h2>
                <p class="font-quicksand text-2xl leading-normal mb-4">(But <span class="font-semibold inline-block px-2 py-1 bg-[#F1BD5B] rounded">do they see you</span> and your enterprise needs?)</p>    
            </div>
            <div class="grid md:grid-cols-12 gap-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 text-right">
                    <div class="py-3 px-6 bg-[#E8E8E8] rounded-lg">
                        <h3 class="text-2xl"><b class="font-semibold">Retail-grade</b> <br>STR pricing software</h3>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div class=" py-3 px-6 bg-[#4DCADA] rounded-lg">
                        <h3 class="text-2xl text-white">for enterprise</h3>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 gap-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 justify-end text-right">
                    <div class="border-b-4 border-dotted  border-b-[#BCBCBC]">
                        <p class="text-lg leading-normal">Minimal enterprise features</p>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div class="px-2 py-1 bg-[#F1BD5B] rounded">
                        <h4 class="text-xl font-semibold">Enterprise management</h4>
                    </div>
                    <div class="border-t-4 border-b-4 border-dotted  border-t-[#4DCADA] border-b-[#4DCADA]">
                        <p class="text-lg leading-normal"><b class="font-medium">Advanced features</b><br>specially designed for larger operators</p>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 gap-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 text-right">
                    <div>
                        <input type="checkbox" id="minimal-features" class="peer hidden">
                        <div class="peer-checked:hidden">
                            <ul class="flex flex-col gap-4">
                                <li>Standard KPIs</li>
                            </ul>
                        </div>
                        <label for="minimal-features" class="peer-checked:block hidden">open</label>
                        <label for="minimal-features" class="peer-checked:hidden">collapse</label>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div>
                        <input type="checkbox" id="advanced-features" class="peer hidden">
                        <div class=" peer-checked:hidden">
                            <ul class="flex flex-col gap-4">
                                <li>Custom KPIs</li>
                                <li>Forecast-vs-budget analysis</li>
                                <li>Owner reports for distribution</li>
                            </ul>
                        </div>
                        <label for="advanced-features" class="peer-checked:block hidden">open</label>
                        <label for="advanced-features" class="peer-checked:hidden">collapse</label>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 gap-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 justify-end text-right">
                    <div class="border-b-4 border-dotted  border-b-[#BCBCBC]">
                        <p class="text-lg leading-normal">2–3 basic data points</p>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div class="px-2 py-1 bg-[#F1BD5B] rounded">
                        <h4 class="text-xl font-semibold">Scenario modeling</h4>
                    </div>
                    <div class="border-t-4 border-b-4 border-dotted  border-t-[#4DCADA] border-b-[#4DCADA]">
                        <p class="text-lg leading-normal"><b class="font-medium">Hypothetical listing + property enhancement testing</b><br>based on millions of option simulations</p>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 gap-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 text-right">
                    <div>
                        <input type="checkbox" id="data-points" class="peer hidden">
                        <div class="peer-checked:hidden">
                            <ul class="flex flex-col gap-4">
                                <li>Pricing</li>
                                <li>Radius location</li>
                                <li>Bedroom count</li>
                            </ul>
                        </div>
                        <label for="data-points" class="peer-checked:block hidden">open</label>
                        <label for="data-points" class="peer-checked:hidden">collapse</label>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div>
                        <input type="checkbox" id="automated-pricing" class="peer hidden">
                        <div class="peer-checked:hidden">
                            <ul class="flex flex-col gap-4">
                                <li>Pricing + ancillary fees</li>
                                <li>Radius location</li>
                                <li>Bedroom count</li>
                                <li>Static property features<br><span class="text-[#697273]">(views, pools, bunk beds)</span></li>
                                <li>Changeable property features<br><span class="text-[#697273]">(jacuzzis, parking)</span></li>
                                <li>Listing features<br><span class="text-[#697273]">(title + description, review counts, days since update)</span></li>
                                <li>Host features<br><span class="text-[#697273]">(host ratings, response rate)</span></li>
                                <li>Photos<br><span class="text-[#697273]">(AI rating)</span></li>
                                <li>Stay length availability</li>
                            </ul>
                        </div>
                        <label for="automated-pricing" class="peer-checked:block hidden">open</label>
                        <label for="automated-pricing" class="peer-checked:hidden">collapse</label>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 gap-4">
                <div class="md:col-span-5 hidden md:flex flex-col gap-5 justify-end text-right">
                    <div class="border-b-4 border-dotted  border-b-[#BCBCBC]">
                        <p class="text-lg leading-normal">(not offered)</p>
                    </div>
                </div>
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div class="px-2 py-1 bg-[#F1BD5B] rounded">
                        <h4 class="text-xl font-semibold">Scenario modeling</h4>
                    </div>
                    <div class="border-t-4 border-b-4 border-dotted  border-t-[#4DCADA] border-b-[#4DCADA]">
                        <p class="text-lg leading-normal"><b class="font-medium">Hypothetical listing + property enhancement testing</b><br>based on millions of option simulations</p>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 gap-4">
                <div class="md:col-span-5 md:col-start-8 flex flex-col gap-5">
                    <div>
                        <input type="checkbox" id="scenario-modeling" class="peer hidden">
                        <div class="peer-checked:hidden">
                            <ul class="flex flex-col gap-4">
                                <li>Price</li>
                                <li>Ancillary fees</li>
                                <li>Bedroom count</li>
                                <li>Property features<br><span class="text-[#697273]">(jacuzzis, parking)</span></li>
                                <li>Listing features<br><span class="text-[#697273]">(title + description, review counts, days since update)</span></li>
                                <li>Host features<br><span class="text-[#697273]">(host ratings, response rate)</span></li>
                                <li>AI photo-analysis ratings</li>
                            </ul>
                        </div>
                        <label for="scenario-modeling" class="peer-checked:block hidden">open</label>
                        <label for="scenario-modeling" class="peer-checked:hidden">collapse</label>    
                    </div>
                </div>
            </div>
            <a class="font-quicksand font-semibold inline-block px-6 py-3 bg-violet-500 text-white rounded" href="">Reach out to see for yourself</a>    
        </div>
    </section>
    <section class="py-40 bg-[#283334] relative ">

        <div class="w-0 h-0 border-l-[50vw] border-l-transparent border-t-[80px] border-t-white border-r-[50vw] border-r-transparent top-[-1px] right-0 absolute"></div>

        <div class="container mx-auto px-4">

            <div class="grid lg:grid-cols-12 gap-4">
                <div class="lg:col-span-4">

                </div>
                <div class="lg:col-span-8">

                    <h1 class="text-4xl font-light leading-tight mb-10 text-white">Quibble’s <span class="font-semibold text-[#F1BD5B]">drill-down dashboards</span> help your CxOs and revenue managers make both <span class="font-semibold text-[#A8E4EB]">strategic decisions</span> and <span class="font-semibold text-[#C0A4EF]">daily tactical moves</span></h1>
                    <h2 class="text-2xl font-light leading-normal mb-10 text-white">Short-Term Rental operator data is intuitively presented in ways to <span class="font-semibold text-[#F1BD5B]">prioritize immediate action</span>, directing your attention from macro concerns to greasy-wheel problems, as needed.</h2>

                    <ul class="inline-flex flex-col lg:flex-row">
                        <li class="inline-flex">
                            <div class="text-white text-xl px-6 py-4 rounded border-[1px]">
                                high-level insights
                            </div>
                        </li>
                        <li class="inline-flex">
                            >
                        </li>
                        <li class="inline-flex">
                            <div class="text-white text-xl px-6 py-4 rounded border-[1px]">
                                regional + city trends
                            </div>
                        </li>
                        <li class="inline-flex">
                            >
                        </li>
                        <li class="inline-flex">
                            <div class="text-white text-xl px-6 py-4 rounded border-[1px]">
                                granular details
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <hr class="my-10">
            <h1 class="text-2xl text-center font-light leading-tight mb-10 text-white"><span class="font-semibold text-[#A8E4EB]">Look back</span> or <span class="font-semibold text-[#F1BD5B]">project out forward</span>,<br>including sandbox scenarios and their effects on portfolio value</h1>
            <p class="text-white text-center">(*or even limit to a specific geography to model out + drill down)</p>

        </div>

    </section>
    <section class="py-40">







        <div class="container mx-auto px-4">
            <div class="grid lg:grid-cols-12 gap-4">
                <div class="lg:col-span-6 lg:col-start-2">
                    <h1 class="text-5xl font-light leading-tight mb-10">Deploy Quibble analytics in one day</h1>
                    <p class="font-light leading-normal mb-4"><span class="font-semibold">Operators using our existing PMS partners</span> (including Guesty, Hostfully, and others) <span class="font-semibold">can get</span> <span class="font-semibold text-[#1BA6BF]">near-instant access</span> to our analytics platform to play around with live data. Otherwise, new PMS integrations take 2–4 weeks.</p>
                    <p class="font-light leading-normal mb-4">Customization, price modeling, quality control, and optional on-site training add only 3–4 weeks and require few operator resources.</p>
                    <p class="font-light leading-normal mb-10"><span class="font-semibold">Ultimately, it typically takes 4–8 weeks</span> to move from agreement to complete platform optimization, guided by a dedicated Quibble account manager.</p>
                    <a class="font-quicksand font-semibold inline-block px-6 py-3 bg-violet-500 text-white rounded" href="">Ready to talk?</a>
                </div>
            </div>
        </div>
    </section>

{{ end }}